all:
  hosts:
  {# Load balancers #}
  {% if infra.cluster.nodes.loadBalancer.instances is defined %}
  {% for lb in infra.cluster.nodes.loadBalancer.instances %}
    {{ lb.name }}:
      ansible_host: {{ lb.ip }}
  {% endfor %}
  {% endif %}
  {# Master nodes #}
  {% for master in infra.cluster.nodes.master.instances %}
    {{ master.name }}: 
      ansible_host: {{ master.ip }}
      {% 
        if master.labels is defined 
        and master.labels is not none 
        and master.labels | length > 0
      %}
      node_labels:
      {% for key, value in master.labels.items() %}
        {{ key }}: {{ value }}
      {% endfor %}
      {% endif %}
  {% endfor %}
  {# Worker nodes #}
  {% if infra.cluster.nodes.worker.instances is defined %}
  {% for worker in infra.cluster.nodes.worker.instances %}
    {{ worker.name }}:
      ansible_host: {{ worker.ip }}
      {% 
        if worker.labels is defined 
        and worker.labels is not none 
        and worker.labels | length > 0
      %}
      node_labels:
      {% for key, value in worker.labels.items() %}
        {{ key }}: {{ value }}
      {% endfor %}
      {% endif %}
  {% endfor %}
  {% endif %}

  children:
    haproxy:
      hosts:      
      {% if infra.cluster.nodes.loadBalancer.instances is defined %}
      {% for lb in infra.cluster.nodes.loadBalancer.instances %}
        {{ lb.name }}
      {% endfor %}
      {% endif %}
    etcd:
      hosts:
      {% for master in infra.cluster.nodes.master.instances %}
        {{ master.name }}
      {% endfor %}
    k8s_cluster:
      children:
        kube_control_plane:
          hosts:
          {% for master in infra.cluster.nodes.master.instances %}
            {{ master.name }}
          {% endfor %}
          vars:
          {%
            if config.cluster.nodes.master.default.labels is defined
            and config.cluster.nodes.master.default.labels is not none
            and config.cluster.nodes.master.default.labels | length > 0
          %}
            node_labels:
            {% for key, value in config.cluster.nodes.master.default.labels.items() %}
              {{ key }}: {{ value }}
            {% endfor %}
          {% endif %}
        kube_node:
          hosts:
          {%
            if infra.cluster.nodes.worker.instances is defined
            and infra.cluster.nodes.worker.instances | length > 0
          %}
          {% for worker in infra.cluster.nodes.worker.instances %}
            {{ worker.name }}
          {% endfor %}
          {% else %}
          {# No worker nodes -> masters also become workers #}
          {% for master in infra.cluster.nodes.master.instances %}
            {{ master.name }}
          {% endfor %}
          {% endif %}
          vars:
          {%
            if infra.cluster.nodes.worker.instances is defined
            and infra.cluster.nodes.worker.instances | length > 0
            and config.cluster.nodes.worker.default.labels is defined
            and config.cluster.nodes.worker.default.labels is not none
            and config.cluster.nodes.worker.default.labels | length > 0
          %}
            node_labels:
            {% for key, value in config.cluster.nodes.worker.default.labels.items() %}
              {{ key }}: {{ value }}
            {% endfor %}
          {% endif %}
