
{% set cfg_lbs = config.cluster.nodes.loadBalancer.instances | default([]) %}
{% set cfg_masters = config.cluster.nodes.master.instances | default([]) %}
{% set cfg_workers = config.cluster.nodes.worker.instances | default([]) %}
{% set def_master_labels = config.cluster.nodes.master.default.labels | default({}) %}
{% set def_worker_labels = config.cluster.nodes.worker.default.labels | default({}) %}
{% set def_worker_taints = config.cluster.nodes.worker.default.taints | default([]) %}
all:
  hosts:
  {# Load balancers #}
  {% if infra.cluster.nodes.loadBalancer.instances is defined %}
    {% for lb in infra.cluster.nodes.loadBalancer.instances %}
    {% set cfg_lb = cfg_lbs | selectattr("id", "equalto", lb.id) | first %}
    {{ lb.name }}:
      ansible_host: {{ lb.ip }}
      {% if cfg_lb.priority is defined %}
      priority: {{ cfg_lb.priority }}
      {% endif %}
    {% endfor %}
  {% endif %}
  {# Master nodes #}
  {% for master in infra.cluster.nodes.master.instances %}
  {% set cfg_master = cfg_masters | selectattr("id", "equalto", master.id) | first %}
    {{ master.name }}: 
      ansible_host: {{ master.ip }}
      {% set labels = def_master_labels | combine(cfg_master.labels | default({})) %}
      {% if labels.items() | length > 0 %}
      node_labels:
        {% for key, value in labels.items() %}
        {{ key }}: {{ value }}
        {% endfor %}
      {% endif %}
  {% endfor %}
  {# Worker nodes #}
  {% if infra.cluster.nodes.worker.instances is defined %}
    {% for worker in infra.cluster.nodes.worker.instances %}
    {% set cfg_worker = cfg_workers | selectattr("id", "equalto", worker.id) | first %}
    {{ worker.name }}:
      ansible_host: {{ worker.ip }}
      {% set labels = def_worker_labels | combine(cfg_worker.labels | default({})) %}
      {% if labels.items() | length > 0 %}
      node_labels:
        {% for key, value in labels.items() %}
        {{ key }}: {{ value }}
        {% endfor %}
      {% endif %}
      {% set taints = def_worker_taints + (cfg_worker.taints | default([])) %}
      {% if taints | length > 0 %}
      node_taints:
        {% for value in taints %}
        - "{{ value }}"
        {% endfor %}
      {% endif %}
    {% endfor %}
  {% endif %}
  children:
    haproxy:
      hosts:      
      {% if infra.cluster.nodes.loadBalancer.instances is defined %}
        {% for lb in infra.cluster.nodes.loadBalancer.instances %}
        {{ lb.name }}:
        {% endfor %}
      {% endif %}
    etcd:
      hosts:
      {% for master in infra.cluster.nodes.master.instances %}
        {{ master.name }}:
      {% endfor %}
    k8s_cluster:
      children:
        kube_control_plane:
          hosts:
          {% for master in infra.cluster.nodes.master.instances %}
            {{ master.name }}:
          {% endfor %}
        kube_node:
          hosts:
          {% if infra.cluster.nodes.worker.instances | default([]) | length > 0 %}
            {% for worker in infra.cluster.nodes.worker.instances %}
            {{ worker.name }}:
            {% endfor %}
          {% else %}
            {# No worker nodes -> masters also become workers #}
            {% for master in infra.cluster.nodes.master.instances %}
            {{ master.name }}:
            {% endfor %}
          {% endif %}

