.temp-content { 
    margin-top: 20%;
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.quote {
    margin-left: auto;
    margin-right: auto;
    max-width: 57ch !important;
    color: white !important;
}

.quote {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(110, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }

  #with_image{
    background-image: url('../assets/images/backgroundimage.jpg');
    background-repeat: no-repeat;
    background-size: contain;
}
#content-banner{
    box-shadow: -10px 0px 10px 1px rgba(0,0,0,0.3);
}

.md-main{
  display: none !important;
}

.bg-primary{
  background-color: #4051b5;
}

.scrollable{
  box-shadow: inset 0px 5px 5px -7px rgba(0,0,0,0.3), inset 0px -10px 5px -10px rgba(0,0,0,0.3);
}

.commandLine{
  font-family: 'Inconsolata';
  border-radius: 5px;
  font-size:15px;
  background-color: #212121;
  box-shadow: 0px 5px 10px -2px rgba(0,0,0,0.4);
}

.illustrator-bg{
  background-image: url('assets/images/cloud_illustration.svg');
  background-size: cover;
}

.dimmed{
  background: linear-gradient(180deg,rgba(0,0,0,0.8),rgba(0,0,0,0.3));
}

.first-content{
  color:white;
  margin-top:50vh;
  transform: translateY(-50%);
  z-index:0;
  flex-wrap: wrap;
}

.blur{
  background-color: rgba(0,0,0,0.2);
  filter: blur(1rem);
}