/* Overwriting mkdocs material css */
.md-header {
  background-color: transparent !important;
  box-shadow: none !important;
  border: none !important;
}

.md-search {
  background-color: transparent !important;
  color: white !important;
  display: none;
  width:0;
}

.md-search__form:hover {
  background-color: #f8f8f229 !important;
  color: white !important;
}

.md-search__input {
  background-color: transparent !important
}

.md-search__input:hover {
  background-color: transparent !important
}

.md-tabs{
  z-index: 3;
    background-color: transparent;
    color: gray !important;
}

form.md-header__option label.md-header__button.md-icon{
  display: none;
}

.md-tabs__link:hover {
  color: white
}

/* main outer box css (overflowing topbar) */
/* flex flex-row flex-grow flex-wrap w-full overflow-auto items-center */
#main-box{
  background: linear-gradient( 99.9deg, rgb(10, 17, 27), rgb(22, 98, 180));
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  overflow: auto;

}

#main-box a{
  color:white;
  font-weight: bold;
}

#main-box button{
  background-color: rgba(0,0,0,0.4);
  color:white;
  padding:0.5rem 2rem;
  border-radius: 3px;
  transition-duration: 500ms!important;
  box-shadow: 0 3px 4px 1px rgba(0,0,0,0.2);
}
#main-box button:hover{
  transition-duration: 500ms!important;
  background-color: rgba(0,0,0,0.6);
  color:white;
  padding:0.5rem 2rem;
  border-radius: 3px;
}

/* --- classes for terminal design --- */
/* class for decorating three buttons on the top of the terminal */
.cli-toolbar-button{
width:10px;
height:10px;
background-color:rgba(255,255,255,0.2);
}

/* '$' inside the terminal */
.command-dollar-sign{
  color:rgb(5, 241, 52)
}

/* terminal div, containing terminal buttons and terminal output */
.terminal{
  font-family: "SFMono-Regular",Consolas,"Liberation Mono",Menlo,monospace !important;
  border-radius: 5px;
  background-color: rgba(0,0,0,0.4);
  box-shadow: 0px 5px 10px -2px rgba(0,0,0,0.4);	
}



