.temp-content { 
    margin-top: 20%;
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.quote {
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 57ch !important;
}

.quote {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(110, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }