all:
  hosts:
  {% if config.hosts is defined %}
  {% for host in config.hosts %}
    {{ host.name }}:
    {% if host.connection.type == "remote" %}
      ansible_connection: ssh
      ansible_user: {{ host.connection.user }} 
      ansible_host: {{ host.connection.ip }} 
      ansible_port: {{ host.connection.ssh.port if host.connection.ssh.port is defined else 22 }} 
      ansible_private_key_file: {{ host.connection.ssh.keyfile if host.connection.ssh.keyfile is defined else default.keyfile_path }}
    {% else %}
      ansible_connection: local
      ansible_host: 127.0.0.1
    {% endif %}
  {% endfor %}
  {% endif %}

  children:
    kubitect_hosts:
      hosts:
      {% if config.hosts is defined %}
      {% for host in config.hosts %}
        {{ host.name }}
      {% endfor %}
      {% endif %}
