{% extends "base.html" %}

{% block tabs %}
    {{ super() }}
{% endblock %}

{% block content %}
    <!-- import custom css -->
    <link rel="stylesheet" href="assets/stylesheets/home.css">
    <link rel="stylesheet" href="assets/stylesheets/tailwind.css">

    <!-- import google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap">

    <!-- main flex container of the page, overflows topbar -->
    <div id="main-box" class="flex flex-row flex-grow flex-wrap w-full overflow-auto items-center">

        <!-- first (left section of the page) -->
        <div class="flex flex-row justify-center md:justify-end h-full w-full md:h-full md:w-5/12 md:pl-20">

            <!-- flex container with logo, title, description and github link -->
            <div class="flex flex-col justify-center items-center">

                <!-- app logo with app title -->
                <div class="flex flex-row items-center text-3xl text-center font-bold mt-20 md:mt-0">
                    <img id="img_app-logo" src="assets/images/logo.svg" alt="logo">
                    Kubitect
                </div>

                <!-- App short description -->
                <div class="text-lg text-center mt-2 px-3">
                    A coherent CLI tool for deploying kubernetes clusters.
                </div>

                <a id="btn_learn-more" href="getting-started/introduction" class="mt-5">
                    Learn more
                </a>
            </div>
        </div>

        <!-- this is the right side (showing commands)-->
        <div class="flex justify-center w-full md:w-7/12 p-5">

            <!-- flex conatiner containing command line div -->
            <div class="flex flex-col justify-center items-center mt-20 md:mt-0">

                <!-- the terminal outline element -->
                <div id=terminal class="terminal">

                    <!-- row with toolbar buttons -->
                    <div class="flex flex-row justify-between p-2 rounded-t items-center">

                        <div class="flex flex-row justify-start p-2">
                            <div class="rounded-full terminal-toolbar-button">
                            </div>
                            <div class="rounded-full terminal-toolbar-button ml-2">
                            </div>
                            <div class="rounded-full terminal-toolbar-button ml-2">
                            </div>
                        </div>

                        <div class="terminal-title pr-2">
                            Create your first cluster
                        </div>
                    </div>

                    <!-- command line output container -->
                    <div class="terminal-frame px-2 pb-2">
                    
                        <!-- terminal placeholder is used for calculating height and width -->
                        <div id="terminal-placeholder" class="px-2 pb-2">
                        </div>
                        
                        <!-- terminal output will be rendered in this element's innerHtml -->
                        <div id="terminal-content" class="px-2 pb-2">
                        </div>

                    </div>

                </div>
            </div>

        </div>

    </div>
{% endblock %}

{% block footer %}
{% endblock %}