name: Release
run-name: "${{ github.ref_name }}: Release"

on:
  release:
    types:
      - published

jobs:
  releases-matrix:
    name: Release Go Binaries
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        goos:
          - linux
          - darwin
        goarch:
          - "386"
          - amd64
          - arm64
        exclude:
          - goarch: "386"
            goos: darwin
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Release binaries
        uses: wangyoucao577/go-release-action@v1
        with:
          binary_name: kubitect
          extra_files: LICENSE
          goos: ${{ matrix.goos }}
          goarch: ${{ matrix.goarch }}
          goversion: go.mod
          github_token: ${{ github.token }}
          project_path: ./cmd

